In [25]:
import pandas as pd

In [26]:
blob_labels = pd.read_csv("cmb_blob_labels.csv")
blob_labels.loc[:, "title"] = blob_labels.blob_map_filename.str.split("_").str[:-1].str.join(" ")
blob_labels

             ligand     blob_map_filename           title
0          SO4-like  9icy_SO4_338_A_1.npz  9icy SO4 338 A
1           MG-like   9icy_NA_342_A_3.npz   9icy NA 342 A
2           MG-like   9icy_NA_341_A_2.npz   9icy NA 341 A
3           MG-like   9icx_NA_341_A_1.npz   9icx NA 341 A
4          SO4-like  9icw_SO4_338_A_1.npz  9icw SO4 338 A
...             ...                   ...             ...
696882  RARE_LIGAND  10gs_VWW_210_A_1.npz  10gs VWW 210 A
696883  RARE_LIGAND   109d_IBB_25_A_1.npz   109d IBB 25 A
696884  RARE_LIGAND  108l_BME_901_A_1.npz  108l BME 901 A
696885  RARE_LIGAND  107l_BME_901_A_1.npz  107l BME 901 A
696886  RARE_LIGAND  102l_BME_901_A_1.npz  102l BME 901 A

[696887 rows x 3 columns]

In [27]:
fold_mapping = pd.read_csv("cmb_server_with_rare_folds.csv")
fold_mapping

                 title  cls   pdb  fold
0       9icy SO4 338 A  186  9icy     5
1        9icy NA 342 A  127  9icy     5
2        9icy NA 341 A  127  9icy     5
3        9icx NA 341 A  127  9icx     7
4       9icw SO4 338 A  186  9icw     1
...                ...  ...   ...   ...
696882  10gs VWW 210 A  176  10gs     6
696883   109d IBB 25 A  176  109d     5
696884  108l BME 901 A  176  108l     6
696885  107l BME 901 A  176  107l     2
696886  102l BME 901 A  176  102l     8

[696887 rows x 4 columns]

In [28]:
blob_fold_mapping = fold_mapping.merge(blob_labels, on="title")
blob_fold_mapping

                 title  cls   pdb  fold       ligand     blob_map_filename
0       9icy SO4 338 A  186  9icy     5     SO4-like  9icy_SO4_338_A_1.npz
1        9icy NA 342 A  127  9icy     5      MG-like   9icy_NA_342_A_3.npz
2        9icy NA 341 A  127  9icy     5      MG-like   9icy_NA_341_A_2.npz
3        9icx NA 341 A  127  9icx     7      MG-like   9icx_NA_341_A_1.npz
4       9icw SO4 338 A  186  9icw     1     SO4-like  9icw_SO4_338_A_1.npz
...                ...  ...   ...   ...          ...                   ...
696882  10gs VWW 210 A  176  10gs     6  RARE_LIGAND  10gs_VWW_210_A_1.npz
696883   109d IBB 25 A  176  109d     5  RARE_LIGAND   109d_IBB_25_A_1.npz
696884  108l BME 901 A  176  108l     6  RARE_LIGAND  108l_BME_901_A_1.npz
696885  107l BME 901 A  176  107l     2  RARE_LIGAND  107l_BME_901_A_1.npz
696886  102l BME 901 A  176  102l     8  RARE_LIGAND  102l_BME_901_A_1.npz

[696887 rows x 6 columns]